<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification" [ngClass]="{'none': preloader}">
  <a class="device-notification--logo" href="#">
    <img style="width: 50px;" src="../../../assets/img/LogoSmall.png" alt="Global">
    <p>Siologic</p>
  </a>
  <p class="device-notification--message">Siologic has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left" [ngClass]="{'none': preloader}">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#" [routerLink]="'/'">
            <img src="../../../assets/img/LogoSmall.png" class="logo-img" alt="Siologic">
            <p>siologic</p>
          </a>
          <button class="header--cta cta">Hire Us</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Works</span></li>
            <li><span>About</span></li>
            <!--<li><span>Contact</span></li>-->
            <li><span>Hire us</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Siologic - web develop company</h1>
                <button class="cta">Hire Us
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <!--<img src="../../../assets/img/transparent-website-6.gif" alt="Gif">-->
                <!--<img src="../assets/img/introduction-visual.png" alt="Welcome">-->
              </div>
              <!--<div class="intro&#45;&#45;options">
                <a href="#">
                  <h3>Lorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#">
                  <h3>Lorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#">
                  <h3>Lorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
              </div>-->
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Selected work</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#">
                      <div class="slider--item-image">
                        <img src="http://placehold.it/250x250" alt="Victory">
                      </div>
                      <p class="slider--item-title">Lorem ipsum 1</p>
                      <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="#">
                      <div class="slider--item-image">
                        <img src="http://placehold.it/250x250" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">Lorem ipsum 2</p>
                      <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#">
                      <div class="slider--item-image">
                        <img src="http://placehold.it/250x250" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Lorem ipsum 3</p>
                      <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#">
                      <div class="slider--item-image">
                        <img src="http://placehold.it/250x250" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Lorem ipsum 4</p>
                      <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Lorem ipsum<br>dolor sit amet<br>consectetur</h2>
                <a href="#">Career
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                </a>
                <!--<img src="../assets/img/about-visual.png" alt="About Us">-->
              </div>
              <div class="about--options">
                <a href="#" style="background-image: url(http://placehold.it/180x100);">
                  <h3>Lorem ipsum</h3>
                </a>
                <a href="#" style="background-image: url(http://placehold.it/180x100);">
                  <h3>Lorem ipsum</h3>
                </a>
                <a href="#" style="background-image: url(http://placehold.it/180x100);">
                  <h3>Lorem ipsum</h3>
                </a>
              </div>
            </div>
          </li>
          <!--<li class="l-section section">
            <div class="contact">
              <div class="contact&#45;&#45;lockup">
                <div class="modal">
                  <div class="modal&#45;&#45;information">
                    <p>Pawia 5, 31-154 Kraków, Poland</p>
                    <a href="mailto:ouremail@gmail.com">ouremail@gmail.com</a>
                    <a href="tel:+148126287560">+48 12 628 75 60</a>
                  </div>
                  <ul class="modal&#45;&#45;options">
                    <li><a href="#">Bēhance</a></li>
                    <li><a href="#">dribbble</a></li>
                    <li><a href="mailto:ouremail@gmail.com">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>-->
          <li class="l-section section">
            <div class="hire">
              <h2>You want us to do</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a" style="justify-content: center">
                    <!--<input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      App Design
                    </label>-->
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Graphic Design
                    </label>
                    <!--<input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Motion Design
                    </label>-->
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      UX Design
                    </label>
                    <!--<input id="opt-5" type="checkbox" value="webdesign">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Webdesign
                    </label>-->
                    <!--<input id="opt-6" type="checkbox" value="marketing">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Marketing
                    </label>-->
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                </div>
                <input type="submit" value="Send Request">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--<ul class="outer-nav-test">
    <li><a href="">Home</a></li>
    <li><a [routerLink]="'/project'">Project</a></li>
    <li><a [routerLink]="'/team'">Team</a></li>
    <li>Contact</li>
    <li><a href="">Hire us</a></li>
  </ul>-->
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Works</li>
    <li>About</li>
    <!--<li>Contact</li>-->
    <li>Hire us</li>
  </ul>
</div>

<div class="loader-overlay" [ngClass]="{'none': !preloader}">
  <div class="loader">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0px" y="0px" viewBox="131 186 350 420" enable-background="new 131 186 350 420" xml:space="preserve">
      <polygon fill="#383A63" points="418.4,502.2 256,596.1 136.5,440.2"  class="loader__shape"/>
      <polygon fill="#415782" points="344.9,346.3 422.1,495.5 241.4,456.2" class="loader__shape"/>
      <polygon fill="#7DABD1" points="478.4,192.2 236,450 223.1,287.6" class="loader__shape"/>
    </svg>
  </div>
</div>

<!--<div class="loader-m">-->
  <!--<div class="dot"></div>-->
  <!--<div class="dot"></div>-->
  <!--<div class="dot"></div>-->
<!--</div>-->
<!--<div class="loader-overlay">
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="900">
      <path d="M673,505L833,272L610,166Z" fill="#363636" stroke="#363636" stroke-width="1.51" class="loader__shape"/>
      <path d="M673,505L1020,565L833,272Z" fill="#393939" stroke="#393939" stroke-width="1.51" class="loader__shape"/>
      <path d="M610,166L250,216L673,505Z" fill="#343434" stroke="#343434" stroke-width="1.51" class="loader__shape"/>
      <path d="M833,272L940,-87L610,166Z" fill="#343434" stroke="#343434" stroke-width="1.51" class="loader__shape"/>
      <path d="M610,166L514,-143L250,216Z" fill="#303030" stroke="#303030" stroke-width="1.51" class="loader__shape"/>
      <path d="M1263,-56L940,-87L833,272Z" fill="#353535" stroke="#353535" stroke-width="1.51" class="loader__shape"/>
      <path d="M940,-87L514,-143L610,166Z" fill="#313131" stroke="#313131" stroke-width="1.51" class="loader__shape"/>
      <path d="M1020,565L1133,541L833,272Z" fill="#3b3b3b" stroke="#3b3b3b" stroke-width="1.51" class="loader__shape"/>
      <path d="M1020,565L1182,1069L1133,541Z" fill="#404040" stroke="#404040" stroke-width="1.51" class="loader__shape"/>
      <path d="M673,505L775,919L1020,565Z" fill="#3c3c3c" stroke="#3c3c3c" stroke-width="1.51" class="loader__shape"/>
      <path d="M503,1011L775,919L673,505Z" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1.51" class="loader__shape"/>
      <path d="M250,216L54,506L673,505Z" fill="#343434" stroke="#343434" stroke-width="1.51" class="loader__shape"/>
      <path d="M54,506L290,856L673,505Z" fill="#373737" stroke="#373737" stroke-width="1.51" class="loader__shape"/>
      <path d="M290,856L503,1011L673,505Z" fill="#3b3b3b" stroke="#3b3b3b" stroke-width="1.51" class="loader__shape"/>
      <path d="M940,-87L1004,-390L514,-143Z" fill="#323232" stroke="#323232" stroke-width="1.51" class="loader__shape"/>
      <path d="M1390,180L1263,-56L833,272Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M250,216L-221,324L54,506Z" fill="#303030" stroke="#303030" stroke-width="1.51" class="loader__shape"/>
      <path d="M514,-143L191,-195L250,216Z" fill="#2e2e2e" stroke="#2e2e2e" stroke-width="1.51" class="loader__shape"/>
      <path d="M441,-567L191,-195L514,-143Z" fill="#2e2e2e" stroke="#2e2e2e" stroke-width="1.51" class="loader__shape"/>
      <path d="M1133,541L1390,180L833,272Z" fill="#3a3a3a" stroke="#3a3a3a" stroke-width="1.51" class="loader__shape"/>
      <path d="M1263,-56L1004,-390L940,-87Z" fill="#353535" stroke="#353535" stroke-width="1.51" class="loader__shape"/>
      <path d="M-134,-202L-221,324L250,216Z" fill="#2c2c2c" stroke="#2c2c2c" stroke-width="1.51" class="loader__shape"/>
      <path d="M54,506L-137,919L290,856Z" fill="#373737" stroke="#373737" stroke-width="1.51" class="loader__shape"/>
      <path d="M1133,541L1596,294L1390,180Z" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1.51" class="loader__shape"/>
      <path d="M775,919L1182,1069L1020,565Z" fill="#404040" stroke="#404040" stroke-width="1.51" class="loader__shape"/>
      <path d="M977,1264L1182,1069L775,919Z" fill="#414141" stroke="#414141" stroke-width="1.51" class="loader__shape"/>
      <path d="M1263,-56L1236,-395L1004,-390Z" fill="#363636" stroke="#363636" stroke-width="1.51" class="loader__shape"/>
      <path d="M1529,-221L1236,-395L1263,-56Z" fill="#373737" stroke="#373737" stroke-width="1.51" class="loader__shape"/>
      <path d="M1690,-542L441,-567L1004,-390Z" fill="#343434" stroke="#343434" stroke-width="1.51" class="loader__shape"/>
      <path d="M1004,-390L441,-567L514,-143Z" fill="#313131" stroke="#313131" stroke-width="1.51" class="loader__shape"/>
      <path d="M191,-195L-134,-202L250,216Z" fill="#2c2c2c" stroke="#2c2c2c" stroke-width="1.51" class="loader__shape"/>
      <path d="M1390,180L1529,-221L1263,-56Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M1707,631L1596,294L1133,541Z" fill="#3f3f3f" stroke="#3f3f3f" stroke-width="1.51" class="loader__shape"/>
      <path d="M441,-567L102,-405L191,-195Z" fill="#2d2d2d" stroke="#2d2d2d" stroke-width="1.51" class="loader__shape"/>
      <path d="M-221,324L-203,679L54,506Z" fill="#323232" stroke="#323232" stroke-width="1.51" class="loader__shape"/>
      <path d="M290,856L293,1225L503,1011Z" fill="#3c3c3c" stroke="#3c3c3c" stroke-width="1.51" class="loader__shape"/>
      <path d="M102,-405L-134,-202L191,-195Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M624,1346L977,1264L775,919Z" fill="#404040" stroke="#404040" stroke-width="1.51" class="loader__shape"/>
      <path d="M-137,919L293,1225L290,856Z" fill="#3a3a3a" stroke="#3a3a3a" stroke-width="1.51" class="loader__shape"/>
      <path d="M624,1346L775,919L503,1011Z" fill="#3e3e3e" stroke="#3e3e3e" stroke-width="1.51" class="loader__shape"/>
      <path d="M-203,679L-137,919L54,506Z" fill="#353535" stroke="#353535" stroke-width="1.51" class="loader__shape"/>
      <path d="M293,1225L624,1346L503,1011Z" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1.51" class="loader__shape"/>
      <path d="M1596,294L1529,-221L1390,180Z" fill="#393939" stroke="#393939" stroke-width="1.51" class="loader__shape"/>
      <path d="M1596,294L1883,23L1529,-221Z" fill="#393939" stroke="#393939" stroke-width="1.51" class="loader__shape"/>
      <path d="M1182,1069L1707,631L1133,541Z" fill="#424242" stroke="#424242" stroke-width="1.51" class="loader__shape"/>
      <path d="M1685,989L1707,631L1182,1069Z" fill="#464646" stroke="#464646" stroke-width="1.51" class="loader__shape"/>
      <path d="M977,1264L1246,1348L1182,1069Z" fill="#434343" stroke="#434343" stroke-width="1.51" class="loader__shape"/>
      <path d="M624,1346L1246,1348L977,1264Z" fill="#414141" stroke="#414141" stroke-width="1.51" class="loader__shape"/>
      <path d="M1627,1357L1685,989L1182,1069Z" fill="#464646" stroke="#464646" stroke-width="1.51" class="loader__shape"/>
      <path d="M-203,679L-418,896L-137,919Z" fill="#373737" stroke="#373737" stroke-width="1.51" class="loader__shape"/>
      <path d="M-137,919L-89,1420L293,1225Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M-622,513L-418,896L-203,679Z" fill="#353535" stroke="#353535" stroke-width="1.51" class="loader__shape"/>
      <path d="M-622,513L-203,679L-221,324Z" fill="#323232" stroke="#323232" stroke-width="1.51" class="loader__shape"/>
      <path d="M-134,-202L-556,243L-221,324Z" fill="#2d2d2d" stroke="#2d2d2d" stroke-width="1.51" class="loader__shape"/>
      <path d="M-134,-202L-622,-81L-556,243Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M102,-405L-274,-491L-134,-202Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M441,-567L-274,-491L102,-405Z" fill="#2c2c2c" stroke="#2c2c2c" stroke-width="1.51" class="loader__shape"/>
      <path d="M1922,172L1883,23L1596,294Z" fill="#3b3b3b" stroke="#3b3b3b" stroke-width="1.51" class="loader__shape"/>
      <path d="M1922,172L1596,294L1956,552Z" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1.51" class="loader__shape"/>
      <path d="M1956,552L1596,294L1707,631Z" fill="#404040" stroke="#404040" stroke-width="1.51" class="loader__shape"/>
      <path d="M-556,243L-622,513L-221,324Z" fill="#303030" stroke="#303030" stroke-width="1.51" class="loader__shape"/>
      <path d="M1950,1082L1956,552L1707,631Z" fill="#444444" stroke="#444444" stroke-width="1.51" class="loader__shape"/>
      <path d="M624,1346L-89,1420L1246,1348Z" fill="#3e3e3e" stroke="#3e3e3e" stroke-width="1.51" class="loader__shape"/>
      <path d="M293,1225L-89,1420L624,1346Z" fill="#3b3b3b" stroke="#3b3b3b" stroke-width="1.51" class="loader__shape"/>
      <path d="M-418,896L-89,1420L-137,919Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M1529,-221L1690,-542L1236,-395Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M1236,-395L1690,-542L1004,-390Z" fill="#373737" stroke="#373737" stroke-width="1.51" class="loader__shape"/>
      <path d="M1859,-401L1690,-542L1529,-221Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M-556,243L-622,-81L-622,513Z" fill="#2e2e2e" stroke="#2e2e2e" stroke-width="1.51" class="loader__shape"/>
      <path d="M-655,-360L-622,-81L-134,-202Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M1922,172L1859,-401L1883,23Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M1883,23L1859,-401L1529,-221Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M1685,989L1950,1082L1707,631Z" fill="#464646" stroke="#464646" stroke-width="1.51" class="loader__shape"/>
      <path d="M1246,1348L1627,1357L1182,1069Z" fill="#454545" stroke="#454545" stroke-width="1.51" class="loader__shape"/>
      <path d="M-89,1420L1627,1357L1246,1348Z" fill="#414141" stroke="#414141" stroke-width="1.51" class="loader__shape"/>
      <path d="M1935,1247L1950,1082L1685,989Z" fill="#464646" stroke="#464646" stroke-width="1.51" class="loader__shape"/>
      <path d="M-274,-491L-655,-360L-134,-202Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M-622,-81L-655,-360L-622,513Z" fill="#2b2b2b" stroke="#2b2b2b" stroke-width="1.51" class="loader__shape"/>
      <path d="M1627,1357L1935,1247L1685,989Z" fill="#464646" stroke="#464646" stroke-width="1.51" class="loader__shape"/>
      <path d="M-418,896L-622,1358L-89,1420Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M-622,513L-622,1358L-418,896Z" fill="#383838" stroke="#383838" stroke-width="1.51" class="loader__shape"/>
      <path d="M-655,-360L-622,1358L-622,513Z" fill="#323232" stroke="#323232" stroke-width="1.51" class="loader__shape"/>
    </svg>
  </div>
</div>-->
